#f-banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


#f-banner {
  background-image: url('../../assets/fotos/banner.webp');
  background-size: cover;
  border-radius: 5px;
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 20px 10px;
  color: #fff;
  font-size: 2rem;
  text-shadow: 2px 2px #d21617;
  font-family: "Modesto Poster W05 Regular";
}

.actors-pics-containter {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pics-content {
  width: 90%;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
}

.pic {
  width: 100%;
  height: 600px;
  background-size:cover;
  background-position: 55% 35%;
  border-radius: 5px;
  padding: 0 0 20px 10px;
  cursor: pointer;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  font-size: 2rem;
  text-shadow: 2px 2px #d21617;
  font-family: "Modesto Poster W05 Regular";
}



.f-banner-1 {
  background-image: url('../../assets/fotos/sand-scene.jpg');
}

.f-banner-2 {
  background-image: url('../../assets/fotos/party.webp');
}

.f-banner-3 {
  background-image: url('../../assets/fotos/dragon-fight.jpg');
}

.f-banner-4 {
  background-image: url('../../assets/fotos/portal.jpg');
}

.f-banner-5 {
  background-image: url('../../assets/fotos/doric-attack.webp');
}

.f-banner-6 {
  background-image: url('../../assets/fotos/themberchaud.webp');
}

.f-banner-7 {
  background-image: url('../../assets/fotos/Sofina.webp');
}

.f-banner-8 {
  background-image: url('../../assets/fotos/cube.webp');
}

.f-banner-9 {
  background-image: url('../../assets/fotos/mimic.webp');
}

.f-banner-10 {
  background-image: url('../../assets/fotos/undead.png');
}

@media(max-width: 768px) {

  #f-banner {
    background-position: 40%;
    width: 100vw;
    height: 45vh;
    margin-bottom: 55px;
    font-size: 1rem;
  }

  .pic {
    height: 45vh;
    font-size: 1rem;
  }

  .pics-content {
    grid-template-columns: 1fr;
  }

}

@media(max-width: 480px) {

  #f-banner {
    background-position: 40%;
    width: 100vw;
    height: 35vh;
    margin-bottom: 55px;
  }
  
  .pic {
    height: 32vh;
  }

  .pics-content {
    grid-template-columns: 1fr;
  }

}